@model RealEstate.Web.Models.Common.MessageVM
@{
    Layout = "~/ClientApp/Views/Shared/_UserLayout.cshtml";
}

<style>
    .btnClose {
        
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
    
   }
</style>
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section spad set-bg" data-setbg="/ClientApp/img/breadcrumb-contact-bg.jpg">
    <div class="container">
        <div class="row rtl">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h4>تماس با ما</h4>
                    <div class="bt-option">
                        <a href="/home"><i class="fa fa-home"></i> صفحه اصلی</a>
                        <span>تماس با ما</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Contact Form Section Begin -->
<section class="contact-form-section spad">
    <div class="container">
        <div class="row rtl">
            <div class="col-lg-12">
                <div class="cf-content">
                    <div class="cc-title">
                        <h4>تماس از</h4>
                        <p>
                            <span>VIP</span>
                            <span>  شما از طریق فرم زیر می توانید با مشاورین املاک </span>

                            <span>
                                در تماس باشید و نظرات و پیشنهادات و سوالات خود را مطرح نمائید
                            </span>

                        </p>
                    </div>

                    <div class="cc-form">
                        <div class="group-input">
                            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", placeholder = "نام و نام خانوادگی", style = "direction:rtl" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "example@yahoo.com", style = "direction:ltr" })
                            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", placeholder = "موبایل", style = "direction:rtl" })


                            @*<input type="text" placeholder="موبایل" style="direction:rtl;" value="@Model.Mobile">*@
                        </div>
                        @Html.TextAreaFor(m => m.Text, new { @class = "form-control", placeholder = "توضیحات", style = "direction:rtl" })

                        <button type="button" class="site-btn" onclick="sendMessage()">ثبت</button>
                    </div>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btnClose"  data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">پیغام</h4>
                                </div>
                                <div class="modal-body">
                                    
                                </div>
                              
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Form Section End -->

<script>
    var _urlSendMessage = '@(Url.Action("SendMessage", "Message"))';
    function sendMessage() {
        var model = {
            FullName: $("#FullName").val(),
            Email: $("#Email").val(),
            Mobile: $("#Mobile").val(),
            Text: $("#Text").val()
            };

        $.ajax({
            url: window._urlSendMessage,
                method: "post",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(model)
            }).done(function (result) {

                if (result.success) {
                    $('#myModal').modal('toggle');
                    $('#myModal').modal('show');

                    $(".modal-body").css("color", "#24d237");
                    $(".modal-header").addClass("alert-success");
                    $(".modal-body").html("ثبت با موفقیت انجام شد");

                    $("#FullName").val("");
                    $("#Email").val("");
                    $("#Mobile").val("");
                    $("#Text").val("");
                }
                else if (!result.success) {
                    
                    var str = "";
                    for (var i = 0; i < result.errors.length; i++) {
                        str += result.errors[i] + "<br/>";
                    }

                    $('#myModal').modal('toggle');
                    $('#myModal').modal('show');
                    $(".modal-header").addClass("alert-warning");
                    $(".modal-body").css("color", "#fb3737");
                    $(".modal-body").html(str);
                }
            });
    }
</script>